<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>ML Model</title>
</head>
<body align="center">
    <h1>Credit Card Fraud Detection</h1>
    <form action="{{url_for('predict')}}"method="POST">
        <input type="text" name="V1" placeholder="V1" required="required"/><br>
        <input type="text" name="V2" placeholder="V2" required="required"/><br>
        <input type="text" name="V3" placeholder="V3" required="required"/><br>
        <input type="text" name="V4" placeholder="V4" required="required"/><br>
        <input type="text" name="V5" placeholder="V5" required="required"/><br>
        <input type="text" name="V6" placeholder="V6" required="required"/><br>
        <input type="text" name="V7" placeholder="V7" required="required"/><br>
        <input type="text" name="V8" placeholder="V8" required="required"/><br>
        <input type="text" name="V9" placeholder="V9" required="required"/><br>
        <input type="text" name="V10" placeholder="V10" required="required"/><br>
        <input type="text" name="V11" placeholder="V11" required="required"/><br>
        <input type="text" name="V12" placeholder="V12" required="required"/><br>
        <input type="text" name="V13" placeholder="V13" required="required"/><br>
        <input type="text" name="V14" placeholder="V14" required="required"/><br>
        <input type="text" name="V15" placeholder="V15" required="required"/><br>
        <input type="text" name="V16" placeholder="V16" required="required"/><br>
        <input type="text" name="V17" placeholder="V17" required="required"/><br>
        <input type="text" name="V18" placeholder="V18" required="required"/><br>
        <input type="text" name="V19" placeholder="V19" required="required"/><br>
        <input type="text" name="V20" placeholder="V20" required="required"/><br>
        <input type="text" name="V21" placeholder="V21" required="required"/><br>
        <input type="text" name="V22" placeholder="V22" required="required"/><br>
        <input type="text" name="V23" placeholder="V23" required="required"/><br>
        <input type="text" name="V24" placeholder="V24" required="required"/><br>
        <input type="text" name="V25" placeholder="V25" required="required"/><br>
        <input type="text" name="V26" placeholder="V26" required="required"/><br>
        <input type="text" name="V27" placeholder="V27" required="required"/><br>
        <input type="text" name="V28" placeholder="V28" required="required"/><br>
        <input type="text" name="Amount" placeholder="Amount" required="required"/><br>
        <input type="text" name="Time" placeholder="Time" required="required"/><br>


        <button type="submit">calcualte</button>
    </form>
    <br>
    {{prediction_text}}
</body>
</html>